$width: 40vw;
$border-width: 1px;

/* Color Palatter */

$green: green;
$black: black;
$orange: orange;
$white: white;
$red: red;
$border-color: #ccc;
$body-background: #f5f5f5;

/* Font Configuration */

$font-family: fantasy;

/** To DO config **/

$todoFontSize: 20px;
$todoItemSpacing: 30px;
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: $font-family;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    background-color: $body-background;
}

#app {
    width: $width;
    h1.heading {
        text-align: center;
    }
    .todo__input {
        form {
            display: flex;
            flex-direction: column;
            input {
                font-size: $todoFontSize;
                padding: 6px 0px 6px 32px;
                border: none;
                box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
                &:focus {
                    outline: 0;
                }
            }
        }
    }
    div.card {
        padding: 10px 0px 10px 0px;
        background-color: $white;
        -webkit-box-shadow: 6px 6px 5px -6px rgba(204, 204, 204, 1);
        -moz-box-shadow: 6px 6px 5px -6px rgba(204, 204, 204, 1);
        box-shadow: 6px 6px 5px -6px rgba(204, 204, 204, 1);
        ul.todo {
            padding: 0px 10px 0px 10px;
            list-style-type: none;
            li.todo__list-element {
                margin: 15px 0px 15px 0px;
                display: flex;
                align-items: center;
                >div {
                    margin-right: 8px;
                    &:last-child {
                        margin-right: 0;
                        flex-grow: 1;
                        text-align: right;
                        i {
                            visibility: hidden;
                            &:hover {
                                color: $red;
                                cursor: pointer;
                            }
                        }
                    }
                }
                &:hover>div {
                    i {
                        visibility: visible;
                    }
                }
                .todo__text {
                    font-size: $todoFontSize;
                    line-height: $todoItemSpacing;
                }
            }
        }
        .todo__filter__bar {
            -webkit-box-shadow: inset -1px 6px 4px -6px rgba(204, 204, 204, 1);
            -moz-box-shadow: inset -1px 6px 4px -6px rgba(204, 204, 204, 1);
            box-shadow: inset -1px 6px 4px -6px rgba(204, 204, 204, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0 0px 0;
            >span {
                margin: 0px 15px 0px 5px;
            }
        }
    }
}


.todo__item--done {
    text-decoration: line-through;
    color: lighten($black, 40%);
}

input[type="checkbox"] {
    width: 2em;
    height: 2em;
    background-color: $white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    &:checked {
        background-color: $green;
        &:hover {
            background-color: lighten($green, 5%);
        }
    }
}

input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
    background-color: $white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    &:checked {
        background-color: $orange;
        &:hover {
            background-color: lighten($orange, 5%);
        }
    }
}

input,
 ::placeholder {
    font-family: $font-family;
    letter-spacing: 3px;
}